<% @task.comments.each do |comment| %>
  <p><%= comment.user.email + " | " + comment.content %></p>
  <% if user_signed_in? && comment.user.id == current_user.id %>
     <%= link_to 'Delete', [comment.task, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
<% end %>
