<div class="row">
<h1>The app for DIY and home improvement enthusiasts.</h1>
<hr>
</div>
<div class="row">
  <% @tasks.each do |task| %>
    <h4><%= task.name %></h4>
    <p><%= task.description %></p>
    <hr>
  <% end %>
</div>